WebGPUGen/.vs
WebGPUGen/Evergine.Bindings.WebGPU.*/obj
WebGPUGen/WebGPUGen/bin
WebGPUGen/WebGPUGen/obj
WebGPUGen/Evergine.Bindings.WebGPU.*/bin
WebGPUGen/Evergine.Bindings.WebGPU/bin
WebGPUGen/Evergine.Bindings.WebGPU/obj
WebGPUGen/HelloTriangle/bin
WebGPUGen/HelloTriangle/obj
