WebGPUGen/.vs
WebGPUGen/WaveEngine.Bindings.WebGPU.*/obj
WebGPUGen/WebGPUGen/bin
WebGPUGen/WebGPUGen/obj
WebGPUGen/WaveEngine.Bindings.WebGPU.*/bin
WebGPUGen/WaveEngine.Bindings.WebGPU/bin
WebGPUGen/WaveEngine.Bindings.WebGPU/obj
