@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, triangle!</h1>

<p>
    <button @onclick="Run">Run</button>
</p>

<canvas id="canvas"></canvas>

<script type='text/javascript' src="webgpu.js"></script>
