@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="Run">Run</button>

<canvas id="canvas"></canvas>

<script type='text/javascript' src="webgpu.js"></script>
